<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<h3>Проект job4j_dreamjob, выполняемый в рамках курса Job4j</h3>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/vacancies}">Вакансии</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/candidates}">Кандидаты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/vacancies/vacancyCreate}">Создать вакансию</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/candidates/candidateCreate}">Создать кандидата</a>
    </li>
</ul>
<footer th:include="blocks/footer :: footer"></footer>
</body>
</html>
